* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1150px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: #fff;
    color: #000;
}

body.dark {
    background-color: #202c36;
    color: #fff;

    .header__btn {
        background-color: #2b3844;
        color: #fff;
    }

    .header__container {
        box-shadow: 0px 10px 52px -38px rgba(255, 255, 255, 1);
    }
    .main__container {
        .main__content {
            .main__search {
                background-color: #2b3844;
            }
            .main__select {
                background-color: #2b3844;
                color: #fff;
            }
        }
        .main__list {
            ul {
                background-color: #2b3844;
            }
        }
    }
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 80px;
    max-width: 1440px;
    box-shadow: 0px 10px 52px -28px rgba(0, 0, 0, 1);

    .header__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: {
            property: transform;
            duration: 0.2s;
            timing-function: ease;
        }
        &:hover {
            opacity: 80%;
        }
        &:active {
            transform: scale(90%);
        }
    }
}

.main__container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
    .main__content {
        display: flex;
        justify-content: center;
        margin: auto;
        margin: 48px 0px;
        justify-content: space-between;

        .main__search {
            width: 480px;
            height: 56px;
            border: none;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0px 10px 52px -22px rgba(0, 0, 0, 1);
            cursor: pointer;
        }

        .main__select {
            width: 240px;
            height: 56px;
            font-family: "Nunito";
            font-size: 14px;
            border: none;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0px 10px 52px -22px rgba(0, 0, 0, 1);
            cursor: pointer;
        }
    }
    .main__flag {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 74px;
        padding: auto;
        .main__content {
            display: flex;
            justify-content: center;
            margin: 48px 0px;
        }
        .main__list {
            .text {
                margin-left: 24px;
            }
            h2 {
                font-weight: 700;
                font-size: 26px;
                line-height: 77px;
            }
            h4 {
                display: inline;
            }
            box-shadow: 0px -15px 52px -35px rgba(0, 0, 0, 1);
        }
    }
}

@media screen and (max-width: 650px) {
    .main__container {
        justify-content: center;
        align-items: center;

        .main__content {
            flex-direction: column;
            gap: 24px;
            .main__search {
                width: 264px;
            }
        }
        .main__flag {
            flex-direction: column;
            .main__list {
                width: 264px;
                height: 336px;
            }
        }
    }
}
